{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/no-unresolved": 0,
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": 0,
    "eol-last": 0,
    "import/prefer-default-export": 0,
    "object-curly-newline": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
