.menu {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    font-size: 20px;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
