.table {
  max-width: 100%;
  overflow-x: auto;

  &__row {
    display: flex;
    position: relative;

    &-counter {
      min-width: 40px;
      background-color: #f8f9fa;
      border: 1px solid #e2e3e3;
      text-align: center;
    }

    &-data {
      display: flex;
    }

    &-resize {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      cursor: n-resize;
      width: 40px;

      &:hover {
        border-bottom: 4px solid #4d90fe;
      }
    }
  }

  &__column {
    position: relative;
    text-align: center;
    border: 1px solid #e2e3e3;
    background-color: #f8f9fa;

    &-resize {
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      cursor: e-resize;
      user-select: none;
      height: 100%;

      &:hover {
        border-right: 4px solid #4d90fe;
      }
    }
  }

  &__cell {
    min-width: 40px;
    border: 1px solid #e2e3e3;
  }
}
