table {
  width: 100%;
  border-collapse: collapse;
}

tr,
th,
td {
  border: 1px solid #808080;
}

th {
  position: relative;
}

.count {
  position: relative;
  width: 40px;
  background-color: #f8f9fa;
  text-align: center;
}

.sep {
  position: absolute;

  &--vertical {
    top: 0;
    right: 0;
    width: 4px;
    cursor: col-resize;
    user-select: none;
    height: 100%;

    &:hover {
      border-right: 3px solid var(--cell--hover);
    }
  }

  &--gorizontal {
    left: 0;
    bottom: 0;
    height: 3px;
    cursor: row-resize;
    width: 40px;

    &:hover {
      border-bottom: 3px solid var(--cell--hover);
    }
  }
}

#row-head {
  background-color: #f8f9fa;
}
