table {
  width: 100%;
  border-collapse: collapse;
}

tr,
th,
td {
  border: 1px solid #808080;
}

th {
  position: relative;
}

.count {
  width: 40px;
  background-color: #f8f9fa;
  text-align: center;
}

.separator {
  top: 0;
  right: 0;
  width: 4px;
  position: absolute;
  cursor: col-resize;
  user-select: none;
  height: 100%;

  &:hover {
    border-right: 2px solid #0000ff;
  }
}

#row-head {
  background-color: #f8f9fa;
}
