$text-color: #333333;
$footer-text-color: #1b1b32;
$footer-background-color: #eeeef0;
$menu-text-color: #ffffff;
$header-background-color: #178038;
$cell-hover-color: #1b73e8;
$row-header-background-color: #f8f9fa;
$table-border-color: #808080;
$col-numbers-color: #f8f9fa;
