<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="assets/static/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <header class="header">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="/">Excel</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <h1 class="title">Pure JavaScript Excel</h1>
      <div class="field">
        <label for="formula" class="field__label">
          Формула
          <input id="formula" type="text" class="field__input" />
        </label>
      </div>
      <div class="controls" data-type="controls">
        <button data-position="left" class="controls__button" type="button">
          <img
            width="20px"
            height="20px"
            src="<%- require('./assets/images/align-left.svg') %>"
            alt="Align to left"
            title="Align to left"
          />
        </button>
        <button data-position="center" class="controls__button" type="button">
          <img
            width="20px"
            height="20px"
            src="<%- require('./assets/images/align-center.svg') %>"
            alt="Align to center"
            title="Align to center"
          />
        </button>
        <button data-position="right" class="controls__button" type="button">
          <img
            width="20px"
            height="20px"
            src="<%- require('./assets/images/align-right.svg') %>"
            alt="Align to right"
            title="Align to right"
          />
        </button>
      </div>
      <div class="table" id="table"></div>
    </main>
    <footer class="footer">
      <div class="footer__copyright">
        © <time datetime="2019">2019</time> Андрей Савельев
      </div>
    </footer>
  </body>
</html>
