@import '~normalize.css';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  padding: 0 20px;
}

.menu {
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  width: 400px;
  height: 50px;
}

.field {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr,
th,
td {
  border: 1px solid #808080;
}

th {
  position: relative;
}

.count {
  width: 40px;
  text-align: center;
}

.separator {
  top: 0;
  right: 0;
  width: 4px;
  position: absolute;
  cursor: col-resize;
  user-select: none;
  height: 667px;

  &:hover {
    border-right: 2px solid #0000ff;
  }
}
